<!-- /picture_details/:id -->
<h1><%= @picture.caption %></h1>

    <div>
      <%=link_to "All Pictures", pictures_url %>
    </div>

    <div>
      <%= image_tag(@picture.source, :width=>200)%>
    </div>

    <p>This is the <%= @picture.caption %></p>

    <%= link_to "Show", picture_url(@picture.id), :method => "get"%>
    <%= link_to "Edit", edit_picture_url(@picture.id), :method => "get"%>
    <%= link_to "Destroy", picture_url(@picture.id), :method => "delete"%>



